{% extends 'base.html' %} 
{% block content %}

<h1>Plan Details</h1>

<div class="card rounded-3 shadow-lg mb-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title pb-2">{{ plan.name }}</h5>

    <p>Start: {{ plan.start }}</p>
    <p>End: {{ plan.end }}</p>
    <a href="{% url 'plans_update' plan.id %}" class="btn btn-primary">Edit </a>
    <a href="{% url 'plans_delete' plan.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
</div> 
<div class="card rounded-3 shadow-lg mb-1" style="width: 18rem">
  <form  action="{% url 'add_meal' plan.id %}" method="post">
    {% csrf_token %}
    {{ meal_form.as_p }}
    <input type="submit" class="btn btn-primary" value="Add Meal">
  </form>
  </div>
{% comment %} begin meal list {% endcomment %}
 <div class="card rounded-3 shadow-lg w-75" >
  <div class="card-body">
    {% for meal in plan.meal_set.all %}
      {{meal.date}} - {{meal.get_meal_display}} - {{meal.name}} 
      {% comment %} basic display above {% endcomment %}
    {% if meal.recipe.count %}
      {% for recipe in meal.recipe.all %}
        <a href="{% url 'recipes_detail' recipe.id  %}">Recipe </a>
      {% endfor %}
      {% comment %} if it has a recipe attached, show the recipe as a link {% endcomment %}
      {% else %}
      
   <form action="#" method="post">
    {% csrf_token %}
      <select class="form-select form-select-sm w-auto" aria-label=".form-select-sm example">
        <option selected>Add a Recipe</option>
        {% for recipe in recipes %}
        <option value="{{ recipe.id }}">{{ recipe.name }}</option>
        {% endfor %}
      </select>
      
      <button class="btn btn-secondary btn-sm " type="submit" >
        Add
      </button> 
    </form>
    <br />
   
     {% endif %}

    <a href="{% url 'meal_delete' meal.id %}" class="btn btn-sm btn-danger mb-4"> delete meal </a>  <br />  
    
     {% endfor %}
    {% comment %} end meal list.  {% endcomment %}
  </div>
</div>


{% endblock %}
